body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  background: #fff;

  font-family: 'Karla', sans-serif;

  font-size: 20px;
}

* {
  box-sizing: border-box;
}

div {
  display: -webkit-flex;
  display: flex;
}

html, body {
  height: 100%;
}
