<!DOCTYPE html>
<html>
<head>  
  <title>BearStock</title>
  <script src="/static/assets/app.js"></script>
</head>
<body>

  <form method="post">
    <div class="buyer-edit container form">
      <button>Save</button>
      <label>ID</label>
      <p>#{{ buyer.uid }}</p>
      <label>Name</label>
      <input type="text" name="name" value="{{ buyer.name or '' }}">
      <label>Username</label>
      <input type="text" name="username" value="{{ buyer.username }}">
      <label>Icon</label>
      <div id="emoji"></div>
    </div>
  </form>
  <script>
    insertStyles();
  	startEmojiPicker(emoji, {{ emoji_picker|safe }});
  </script>
</body>
</html>

