<!DOCTYPE html>
<html>
<head>  
  <title>BearStock</title>
  <script src="/static/assets/app.js"></script>
</head>
<body>

  <div class="buyer-list container">
    <form method="post" action="/buyers">
      <div class="form">
        <label>Username</label>
        <input name="username" value="">
        <button>Create new buyer</button>
      </div>
    </form>

    <h2>Current buyers</h2>
    <ul>
      {% for buyer in buyers %}
        <li><a href="/buyers/{{ buyer.uid }}">{{ buyer.username }} {{ buyer.icon or '' }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <script>
    insertStyles();
  </script>
</body>
</html>

