// @import url(https://fonts.googleapis.com/css?family=Karla:400,700);

@import "flexbox";

body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  background: #ecf0f1;

  font-family: 'Karla', sans-serif;
}

.grow {
  .flex(1);
}

button {
  outline: 0;
}

._app .header {
  background: #c0392b;
  padding: 0.5em 1em;
  color: #ecf0f1;
  .flex-display;
}

._app .content {
  .flex-display;
  .justify-content(center);
}

._app .left {
  .flex(1);
  padding: 0.5em 1em;
}

._app .right {
  width: 30em;
  background: #e74c3c;
}

._app .trader {
}

._product-list {
}

._product-list .button {
  background: #3498db;
  display: block;
}

._product-list.enabled .button:active {
  background: #2980b9;
}

._key-pad {
  width: 6em;
}

._key-pad .pad {
  .flex-display;
  .flex-wrap(wrap);
}

._key-pad .number {
  width: 33%;
  height: 2em;
}

._key-pad .go {
  background: red;
}