body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  background: #fff;

  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

  font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  margin: 20px auto;
  max-width: 800px;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;

  justify-content: center;

  margin-bottom: 30px;
}

.form input {
  padding: 0.5em 1em;
}

.form label {
  padding: 0.5em;
  grid-column: 1;
}

.form p {
  padding: 0.5em;
}

.form button {
  grid-column: 3;
  border-radius: 5px;
  padding: 0.5em 1em;
}

#emoji {
  grid-column: 1 / -1;
}

