body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  background: #fff;

  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

  font-size: 20px;
}

* {
  box-sizing: border-box;
}

div {
  display: -webkit-flex;
  display: flex;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
}

@-webkit-keyframes flash {
  from {
    background-color: rgba(0,0,0,0.7);
  }
}

@keyframes flash {
  from {
    background-color: rgba(0,0,0,0.7);
  }
}

@-webkit-keyframes ticker {
  from {
    margin-left: 100%;
    -webkit-transform: translateX(0%)
  }

  to {
    margin-left: 0%;
    -webkit-transform: translateX(-100%)
  }
}

