body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  background: #fff;

  font-family: 'Karla', sans-serif;

  font-size: 20px;
}

* {
  box-sizing: border-box;
}

div {
  display: -webkit-flex;
  display: flex;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
}

@-webkit-keyframes flash {
  from {
    background-color: rgba(0,0,0,0.7);
  }
}

@keyframes flash {
  from {
    background-color: rgba(0,0,0,0.7);
  }
}

